@using Nop.Core.Domain.Estimate
@using Nop.Services
@model EstimatePriceModel
@{
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    //page title
    ViewBag.Title = T("Admin.Estimates.Create").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Estimates");
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Estimates.Create")
    </h1>

</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <!--Load grid product here-->
                </div>
            </div>

        </div>
    </div>
</div>

